In [ ]:
# Downloading the dataset 

import requests

download_url ='https://raw.githubusercontent.com/onaio/ona-tech/master/data/water_points.json'
target_json_path = 'water_points.json'

response = requests.get(download_url)
response.raise_for_status() #check if request was successful
with open(target_json_path, 'wb') as f:
    f.write(response.content)

print('Download finished.')

In [6]:
import pandas as pd
resources = pd.read_json('water_points.json')
type(resources)

pandas.core.frame.DataFrame

In [7]:
resources.head()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,no,[north_ghana/attachments/1351696546452.jpg],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351701849971.jpg],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702462336.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351702971561.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,,NaT,functioning,_08_Water_points_CV,yes,[north_ghana/attachments/1351703622326.jpg],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
resources.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 48 columns):
water_pay                      712 non-null object
respondent                     712 non-null object
research_asst_name             712 non-null object
water_used_season              712 non-null object
_bamboo_dataset_id             712 non-null object
_deleted_at                    0 non-null datetime64[ns]
water_point_condition          712 non-null object
_xform_id_string               712 non-null object
other_point_1km                712 non-null object
_attachments                   712 non-null object
communities_villages           712 non-null object
end                            712 non-null object
animal_number                  528 non-null object
water_point_id                 712 non-null object
start                          712 non-null object
water_connected                712 non-null object
water_manager_name             708 non-null object
_status                        712 non-null object
enum_id_1                      712 non-null int64
water_lift_mechanism           712 non-null object
districts_divisions            712 non-null object
_uuid                          712 non-null object
grid                           712 non-null object
date                           712 non-null datetime64[ns]
formhub/uuid                   712 non-null object
road_available                 712 non-null object
water_functioning              712 non-null object
_submission_time               712 non-null datetime64[ns]
signal                         712 non-null object
water_source_type              712 non-null object
_geolocation                   712 non-null object
water_point_image              712 non-null object
water_point_geocode            709 non-null object
deviceid                       712 non-null int64
locations_wards                712 non-null object
water_manager                  712 non-null object
water_developer                712 non-null object
_id                            712 non-null int64
animal_point                   712 non-null object
water_mechanism_plate          649 non-null object
water_lift_mechanism_type      649 non-null object
road_type                      334 non-null object
water_mechanism_plate_units    43 non-null object
water_mechanism_plate_no       43 non-null float64
water_not_functioning          87 non-null object
water_source_type_other        3 non-null object
simserial                      5 non-null float64
subscriberid                   5 non-null float64
dtypes: datetime64[ns](3), float64(3), int64(3), object(39)
memory usage: 267.1+ KB

In [12]:
resources.shape

(712, 48)

In [21]:
# NUMBER OF WATER POINTS THAT ARE FUNCTUIONAL

resources['water_point_condition'].value_counts()

functioning           590
broken                 40
abandoned              36
newly_constructed      28
under_construction     16
na_dn                   2
Name: water_point_condition, dtype: int64

In [1]:
import pandas as pd

resources = df[df['water_point_condition']=='functioning']
resources#.iloc[0:5, 1:4]

NameError: name 'df' is not defined